@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;500&display=swap");
* {
  box-sizing: border-box;
  font-family: var(--fuente);
}
header,
section {
  overflow-x: hidden;
}
:root {
  --fuente: "Montserrat", cursive;
  --azul: #31469d;
  --clarito: #808080;
  --negro: #000000;
  --regular: 400;
  --medium: 500;
  --semi_bold: 600;
  --bold: 500;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.azul {
  color: #31469d;
}
.claro {
  color: #808080;
}
.negro {
  color: #000000;
}
header .img {
  width: 100%;
}
/* .section_1 .fila-1 .row .col-md-6 .content_section_1 {
  padding: 4vmin 1vmin;
  padding-bottom: 2vmin;
  padding-left: 12vmin;
} */

/* section_1 */

/* web */
.section_1 .fila-1 .row .col-md-6 .content_section_1 {
  padding: 4vmin 1vmin;
  padding-bottom: 2vmin;
  padding-left: 12vmin;
}
.section_1 .fila-1 .row .col-md-6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_1 .fila-1 .row .col-md-6 h1 {
  font-size: 10rem;
}
.section_1 .fila-1 .row .col-md-6 .logo {
  width: 100%;
  padding-left: 10vmin;
}
/* Tablet */
@media screen and (min-width: 780px) and (max-width: 1200px) {
  .section_1 .fila-1 .row .col-md-6 .content_section_1 {
    padding: 4vmin 1vmin;
    padding-bottom: 2vmin;
    padding-left: 12vmin;
  }
  .section_1 .fila-1 .row .col-md-6 h1 {
    font-size: 1.5rem;
  }
  .section_1 .fila-1 .row .col-md-6 img {
    object-fit: cover;
    z-index: 1;
  }
  .section_1 .fila-1 .row .col-md-6 .logo {
    width: 70%;
    padding-left: 10vmin;
  }
}
/* Mobile */
@media screen and (min-width: 0) and (max-width: 760px) {
  .section_1 .fila-1 .row .col-md-6 .content_section_1 {
    padding: 0;
    box-shadow: 1px 2px 9px 6px #aaa;
  }
  .section_1 .fila-1 .row .col-md-6 h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .section_1 .fila-1 .row .col-md-6 .mobil {
    box-shadow: -2px 1px 13px 6px #aaa;
  }
  .section_1 .fila-1 .row .col-md-6 .logo {
    width: 76%;
    padding-left: 22vmin;
  }
  .section_1 .fila-1 .row .col-md-6 p {
    font-size: 1rem;
    text-align: justify;
    padding: 4px 5px;
  }
}

/* @media (only-width: 990px) {
  .fondo::after {
    display: none;
  }
} */
